<mat-toolbar color="primary">
  <div class="container-fluid wrapper" style="width: 100%">
    <div class="row between-xs">
      <div class="col">
        SafeCycle
      </div>
      <div class="col">
        <span class="role" *ngIf="isCollectorView">Collector</span>
        <span class="role" *ngIf="isRecyclerView">Recycler</span>
      </div>
      <div class="col">
        <button mat-flat-button color="primary" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
