<mat-card matBadge="!" matBadgeColor="warn" matBadgeSize="large" matBadgePosition="above after" matBadgeOverlap="true"
  matBadgeDescription="Test" [matBadgeHidden]="!criticalStorage" *ngIf="maxCapacity > 0">
  <mat-card-title-group>
    <mat-card-title>
      <h2 class="mat-title">Storage Forecast</h2>
    </mat-card-title>
    <mat-card-subtitle>You see we are monitoring your storage. Don't worry, we've got your back. When you are
      running out of space, we will send someone to pick them up.<br />

    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>Remaining Clean Masks: {{remainingCleanMasks}}</p>
    <img mat-card-image [src]="!criticalStorage ? 'assets/first_graph.png' : 'assets/second_graph.png'"
      class="forecast-image" />
    <ng-container *ngIf="criticalStorage">
      <button color="primary" style="margin-top: 1rem" class="print-labels-button" mat-raised-button
        (click)="showAvailableLabels()">Print your
        labels</button>
      <div>
        <p class="mat-body-2" style="color: red; margin-top: 1rem">You are running low on storage. We are already on the
          way to pick up
          your
          masks.</p>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>