<h2>Print your labels</h2>
<table mat-table [dataSource]="availableLabels" class="mat-elevation-z8">

  <ng-container matColumnDef="bagType">
    <th mat-header-cell *matHeaderCellDef>Bag Type</th>
    <td mat-cell *matCellDef="let label"> {{label.bagType}} </td>
  </ng-container>

  <ng-container matColumnDef="maskType">
    <th mat-header-cell *matHeaderCellDef>Mask Type</th>
    <td mat-cell *matCellDef="let label"> {{label.maskType}} </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Label</th>
    <td mat-cell *matCellDef="let label">
      <a mat-raised-button *ngIf="!label.ordered" color="primary" href="assets/Recycling_Label.pdf" target="_blank" (click)="order(label)">Order</a>
      <span mat-flat-button *ngIf="label.ordered" style="color: green">Label ordered&nbsp;&nbsp;</span>
      <a mat-raised-button *ngIf="label.ordered" color="primary" href="assets/Recycling_Label.pdf" target="_blank">Print</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['bagType', 'maskType', 'label']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['bagType', 'maskType', 'label'];"></tr>
</table>
